@model FindYourMentorProject.Models.Fee
<link href="~/Custom/css/ViewMenteeApplication.css" rel="stylesheet" />

<div class="Application-Mentee">

    <table>
        <tr class="Application-Mentee-indiv">
            <td>Name: </td>
            <td>@Model.MenteeName/td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Age: </td>
            <td>@Model.MenteeAge</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>EmailID: </td>
            <td>@Model.MenteeEmailID</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Contact Number: </td>
            <td>@Model.MenteeContactNo</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>GitHub-ID: </td>
            <td>@Model.MenteeGitHub</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>LinkedIn-ID: </td>
            <td>@Model.MenteeLinkedIn</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>State: </td>
            <td>@Model.MenteeState</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Class name: </td>
            <td>@Model.ClassName</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Course name: </td>
            <td>@Model.CourseName</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Mentor name: </td>
            <td>@Model.MentorName</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Payment mode: </td>
            <td>@Model.PaymentMode</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Admission Status: </td>
            <td>@Model.AdmissionStatus</td>
        </tr>
    </table>
</div>
