@model FindYourMentorProject.Models.Application
<link href="~/Custom/css/ViewMenteeApplication.css" rel="stylesheet" />

<div class="Application-Mentee">

    <table>
        <tr class="Application-Mentee-indiv">
            <td>Name: </td>
            <td>@Model.MenteeName</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Age: </td>
            <td>@Model.MenteeAge</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>EmailID: </td>
            <td>@Model.MenteeEmailID</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Contact Number: </td>
            <td>@Model.MenteeContactNo</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>GitHub-ID: </td>
            <td>@Model.MenteeGithub</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>LinkedIn-ID: </td>
            <td>@Model.MenteeLinkedin</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>State: </td>
            <td>@Model.MenteeState</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Address: </td>
            <td>@Model.MenteeAddress</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Background: </td>
            <td>@Model.MenteeBackground</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Message: </td>
            <td>@Model.MenteeMessage</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Expectations: </td>
            <td>@Model.MenteeExpectations</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Working Status: </td>
            <td>@Model.WorkingStatus</td>
        </tr>
    </table>
</div>
