@model IEnumerable<FindYourMentorProject.Models.Application>

@{
    ViewBag.Title = "viewMenteeApplication";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}
<link href="~/Custom/css/Loader.css" rel="stylesheet" />
<link href="~/Custom/css/ViewMenteeApplication.css" rel="stylesheet" />

<div id="loader" style="display:none;">
    <img src="~/uiImages/Loader.gif" />
    <p>Processing ...</p>
</div>

<h1 id="Appln_header">Mentee Applications</h1>
<div class="main-table-container">
    <table id="Application" style="width:100%;height:auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Working Status</th>
                <th>State</th>
                <th>Age</th>
                <th>Application Status</th>
                <th>Application</th>
                <th>Course Advertisement</th>
                <th>Update Status</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
</div>


    <link href="//cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet" />

    @section ScriptsNew{
        <script src="//cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript">
    var Popup, dataTable;

             $(document).ready(function () {

                 dataTable = $("#Application").DataTable({
                "ajax": {
                         "url": "/Mentor/viewMenteeApplicationData",
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": ""
                },
                "responsive": "true",
                "scrollX": true,
                "columns": [
                    { "mData": "MenteeName" },
                    { "mData": "WorkingStatus" },
                    { "mData": "MenteeState" },
                    { "mData": "MenteeAge" },
                    { "mData": "ApplicationStatus" },
                    {
                        "mData":"ApplicationID" , "render" : function (data) {
                            return "<i class='far fa-eye' class='View-btn' id='view-appln' onclick=PopupForm('" + data + "')></i>";
                    },
                        "orderable": false,
                        "searchable":false,
                    },
                    {
                        "mData":"AdvertisementID" , "render" : function (data) {
                            return "<i class='far fa-eye' class='View-btn' id='view-adv' onclick=PopupForm2('" + data + "')></i>";
                    },
                        "orderable": false,
                        "searchable":false,
                    },
                    {
                        "mData":"ApplicationID" , "render" : function (data) {
                            return "<i class='fas fa-check-square' id='approve' onclick=Approve('" + data + "')></i><i class='fas fa-window-close' id='approve' id='reject' onclick=Reject('" + data + "')>";
                    },
                        "orderable": false,
                        "searchable":false,
                    },
                    {
                        "mData": "ApplicationID", "render": function (data) {
                            return "<i class='fa fa-trash' onclick=Remove('" + data + "')></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                    }
                   ],
                   "language": {
                    "emptyTable": "<p class='empty-row'>Sorry !!! No one has applied for your courses yet ... Visit soon</p>"
                }
                 });
             });

            $(".fa-check-square").mouseover(function () {
                tooltip.pop(this, 'Lorem ipsum dolor...mauris');
            })


    function Approve(id) {
        var url = '@Url.Action("ApproveStatus", "Mentor")/' + id;

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id
            },
            beforeSend: function () {
                $("#loader").show();
            },
            complete: function () {
                $("#loader").hide();
            },
            success: function (data) {
                if (data.success) {
                    dataTable.ajax.reload();
                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                }
            }
        });
    };

    function Reject(id) {
        var url = '@Url.Action("RejectStatus", "Mentor")/' + id;

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id
            },
            beforeSend: function () {
                $("#loader").show();
            },
            complete: function () {
                $("#loader").hide();
            },
            success: function (data) {
                if (data.success) {
                    dataTable.ajax.reload();

                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                }
            }
        });
        };

        function Remove(id) {
        var url = '@Url.Action("UpdateRemoveStatus", "Mentor")/' + id;

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id
            },
            success: function (data) {
                if (data.success) {
                    dataTable.ajax.reload();

                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                }
            }
        });
    };

    function PopupForm(id)
    {
        url = '@Url.Action("ViewFullMenteeApplication", "Mentor")/' + id;
        var formDiv =
            $('<div />');
            $.get(url).done(function (response) {
            formDiv.html(response);

            Popup = formDiv.dialog({
            autoOpen: true,
            resizable: true,
            title: 'Apply',
            height: 500,
            width: 700,
            close: function () {
            Popup.dialog('destroy').remove();
            }

            });
        });
    }

    function PopupForm2(id)
    {
        url = '@Url.Action("ViewCourseApplication", "Mentor")/' + id;
        var formDiv =
            $('<div />');
            $.get(url).done(function (response) {
            formDiv.html(response);

            Popup = formDiv.dialog({
            autoOpen: true,
            resizable: true,
            title: 'Apply',
            height: 500,
            width: 700,
            close: function () {
            Popup.dialog('destroy').remove();
            }

            });
        });
    }
        </script>
    }

