@model FindYourMentorProject.Models.BigModel

@{
    ViewBag.Title = "ViewAdvertisement";
    Layout = "~/Views/Shared/_MentorLayout.cshtml";
}
<link href="~/Custom/css/ViewAdvertisement.css" rel="stylesheet" />
<body>
    <div class="main-course-advert">
        <div class="indiv-course-advert">
            <div class="advert-heading">
                <h1>Teaching @Model.CourseAdvertisement.CourseName Courses in @Model.CourseAdvertisement.City</h1>
                <i class="fas fa-heart" title="Add to saved list"></i>
            </div>

            <div class="mode-info">
                <div class="Course-name">
                    <i class="fas fa-user"> Mentor/ Mentor's</i>
                    <p>@Model.CourseAdvertisement.MentorName</p>
                </div>
                @if (!string.IsNullOrEmpty(Model.CourseAdvertisement.logo))
                {
                    <img src="@Url.Content(Model.CourseAdvertisement.logo)" alt="logo" />
                }
            </div>

            <div class="Course-main-info">
                <div class="Course-name">
                    <i class="fas fa-home"> Mode</i>
                    <p>@Model.CourseAdvertisement.Mode</p>
                </div>

                <div class="Course-name">
                    <i class="fas fa-book-reader"> Courses</i>
                    <p>@Model.CourseAdvertisement.CourseName</p>
                </div>

                <div class="Course-name">
                    <i class="fas fa-school"> Class Name</i>
                    <p>@Model.CourseAdvertisement.ClassName</p>
                </div>
            </div>



            <div class="student-info">
                <div class="seats">
                    <i class="far fa-play-circle"> Start Date</i>
                    <p>@Model.CourseAdvertisement.StartDate</p>
                </div>

                <div class="seats">
                    <i class="far fa-calendar"> Duration</i>
                    <p>@Model.CourseAdvertisement.Duration Months</p>
                </div>

                <div class="seats">
                    <i class="far fa-money-bill-alt"> Fees</i>
                    <p>&#x20B9; @Model.CourseAdvertisement.Fees</p>
                </div>

                <div class="seats">
                    <i class="fas fa-chalkboard-teacher"> Experience</i>
                    <p>@Model.CourseAdvertisement.YearsOfExperience</p>
                </div>
            </div>

            <div class="student-info">
                <div class="seats">
                    <i class="fas fa-user-graduate"> Total Seats</i>
                    <p>@Model.CourseAdvertisement.TotalSeats</p>
                </div>

                <div class="seats">
                    <i class="fas fa-user-graduate"> Available Seats</i>
                    <p>@Model.CourseAdvertisement.SeatsOccupied</p>
                </div>

                <div class="seats">
                    <i class="fas fa-user-graduate"> Available Batches</i>
                    <p>@Model.CourseAdvertisement.BatchesAvailable</p>
                </div>

                <div class="seats">
                    <i class="fas fa-user-graduate"> Filled Batches</i>
                    <p>@Model.CourseAdvertisement.BatchesFull</p>
                </div>
            </div>

            <div class="class-info">
                <div class="github">
                    <i class="fab fa-github"> GitHub</i>
                    <p>@Model.CourseAdvertisement.GitHubAccount</p>
                </div>

                <div class="github">
                    <i class="fab fa-linkedin"> LinkedIn</i>
                    <p>@Model.CourseAdvertisement.LinkedIn</p>
                </div>
            </div>

            <div class="description">
                <h2>About @Model.CourseAdvertisement.ClassName</h2>
                <p>@Model.CourseAdvertisement.Description</p>
            </div>

            <div class="address-info">
                <div class="seats" id="address">
                    <i class="fas fa-map-marker-alt"> Address</i>
                    <p>@Model.CourseAdvertisement.Address</p>
                </div>

                <div class="seats">
                    <i class="fas fa-location-arrow"> State</i>
                    <p>@Model.CourseAdvertisement.State</p>
                </div>

                <div class="seats">
                    <i class="fas fa-building"> City</i>
                    <p>@Model.CourseAdvertisement.City</p>
                </div>
            </div>

            <div class="communication">
                <i class="fas fa-language"> Communication Languages</i>
                <p>@Model.CourseAdvertisement.SpokenLanguage1  @Model.CourseAdvertisement.SpokenLanguage2  @Model.CourseAdvertisement.SpokenLanguage3  @Model.CourseAdvertisement.SpokenLanguage4</p>
            </div>

            <div class="demo-videos">
                <i class="fas fa-video"> Demo Lectures</i>
                <div class="indiv-vid">
                    <video controls>
                        <source src="@Url.Content(Model.CourseAdvertisement.DemoLec1)" type="video/mp4" id="videoPreview2" class="all-videos" />
                    </video>
                    <video controls>
                        <source src="@Url.Content(Model.CourseAdvertisement.DemoLec2)" type="video/mp4" id="videoPreview2" class="all-videos" />
                    </video>
                    <video controls>
                        <source src="@Url.Content(Model.CourseAdvertisement.DemoLec3)" type="video/mp4" id="videoPreview2" class="all-videos" />
                    </video>
                    <video controls>
                        <source src="@Url.Content(Model.CourseAdvertisement.DemoLec4)" type="video/mp4" id="videoPreview2" class="all-videos" />
                    </video>
                </div>
            </div>

            <div class="Feedback-box">
                <p>Feedback</p>
                <div class="all-feedbacks">
                    @if (@Model.Feedback.Count() == 0)
                    {
                        <div class="empty-feedback">
                            <p>No Feedbacks posted</p>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.Feedback)
                        {
                            <div class="indiv-feedback">
                                <p>@item.commentedOn.ToString() By <span>@item.Username</span></p>
                                <p>@item.feedbackDescription</p>
                                <div class="all-stars">
                                    @for (int i = 0; i < @item.Rating; i++)
                                    {
                                        <i class="fas fa-star"></i>
                                    }
                                    @for (int i = 5; i > @item.Rating; i--)
                                    {
                                        <i class="far fa-star"></i>
                                    }
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            </div>
        </div>
</body>
