@model FindYourMentorProject.Models.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<link href="~/Custom/css/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<body>
    <div class="common-login">
        <div class="wrapper">

            <header>Forget Password Recovery</header>

            @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
            {
                @Html.AntiForgeryToken();

                    <div class="forgotpassword-text-success">
                        @ViewBag.Message
                    </div>

                    <div class="Role-selection">
                        @Html.EnumDropDownListFor(m => m.UserRolePassword, "--Select Role--")
                        @Html.ValidationMessageFor(model => model.UserRolePassword, "", new { @class = "text-danger" })
                    </div><br />

                    <div class="field email">
                        <div class="input-area">
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "input-area-field", @placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            <i class="icon fas fa-envelope"></i>
                        </div>
                    </div>

                    <input type="submit" value="Send Reset Password Link" class="input-area-field">
                }

            </div>
        </div>
    </body>

