@model FindYourMentorProject.Models.UserLogin

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<link href="~/Custom/css/Login.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<body>
    <div class="common-login">
        <div class="wrapper">

            <header>Login</header>
            @if (ViewBag.Message != null)
            {
                <div class="loginmsg">
                    @ViewBag.Message
                </div>
            }
            @if (ViewBag.Message != null)
            {
                <div class="loginmsg">
                    @ViewBag.message1
                </div>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="field email">
                    <div class="input-area">
                        @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "input-area-field", @placeholder = "Email Address" } })
                        @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                        <i class="icon fas fa-envelope"></i>
                    </div>
                </div>

                <div class="field password">
                    <div class="input-area">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input-area-field", @id = "password1", @placeholder = "Email Password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <i class="icon fas fa-lock"></i>
                        <i class="show-btn fas fa-eye" id="show-pass"></i>
                    </div>
                </div>

                <div class="Role-selection">
                    @Html.EnumDropDownListFor(m => m.UserRole, "--Select Role--")
                    @Html.ValidationMessageFor(model => model.UserRole, "", new { @class = "text-danger" })
                </div>

                <div class="remember">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                    <span>Remember Me</span>
                </div>

                <div class="pass-txt"><a href="/User/ForgotPassword">Forgot password?</a></div>

                <input type="submit" value="Login" class="input-area-field">
            }

            <div class="sign-txt">Not yet joined? <a href="/User/Registration">Signup now</a></div>

        </div>
    </div>
    <script src="js/login.js"></script>
    <script src="~/Custom/js/Login.js"></script>
</body>
