@model FindYourMentorProject.Models.RegisterStudent

@{
    ViewBag.Title = "PersonalInfo";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<link href="~/Custom/css/Profile.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="main-container">

    <div class="profile-container">
        <h2>Profile Picture</h2>
        <form action="/Student/ProfilePicture" method="post" enctype="multipart/form-data">
            <div class="Image-container">
                @if (Model.ProfilePicture != null)
                {
                    <img src="@Model.ProfilePicture" alt="user-profile-picture" id="imagePreview" />
                }
                else
                {
                    <img src="~/Image/defaultProfile1.jpg" alt="user-profile-picture" id="imagePreview" />
                }

                <div class="user-profile-info">
                    <h1>@Model.FirstName&nbsp;@Model.LastName</h1>
                    <h3 id="stateText">@Model.State</h3>
                    <h3>@Model.Role</h3>
                </div>
            </div>
            <div class="Image-operations">
                <div class="Image-op-1">
                    <div class="profile-upload">
                        <p>Choose Profile Picture</p>
                        <div class="profile-flex">
                            <i class="icon fas fa-user-circle" id="profile-pic"></i>

                            <input type="file" id="file" name="file" accept="image/jpeg, image/png" onchange="ShowImagePreview(this,document.getElementById('imagePreview'))">
                            <span id="remove-img" onclick="document.getElementById('file').value = ''"><i class="fas fa-times"></i></span>
                        </div>
                    </div>
                </div>
                <div class="Image-op-2">
                    <button type="submit" name="submitButton" class="upload-pic" value="Upload">Upload Picture</button>
                    <button type="submit" name="submitButton" class="remove-pic" value="Remove">Remove Picture</button>
                </div>
            </div>
        </form>
    </div>

    <div class="userinfo-container">
        <h1>User Information</h1>
        <form action="/Student/UpdatePersonalInfo" method="POST">
            <div class="input-fields">
                <fieldset class="field_set">
                    <legend>Firstname</legend>
                    <input type="text" name="FirstName" value="@Model.FirstName" maxlength="50" minlength="3">
                </fieldset>
                <fieldset class="field_set">
                    <legend>Lastname</legend>
                    <input type="text" name="LastName" value="@Model.LastName" maxlength="50" minlength="3">
                </fieldset>
                <fieldset class="field_set">
                    <legend>Contact Number</legend>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)/g, '');" pattern="[6789][0-9]{9}" title="Please enter valid phone number" minlength="10" maxlength="12" name="ContactNo" value="@Model.ContactNo">
                    @*<input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="12" minlength="10" name="ContactNo" value="@Model.ContactNo">*@
                </fieldset>
            </div>

            <div class="input-fields">
                <fieldset class="field_set">
                    <legend>EmailID</legend>
                    <input type="email" name="EmailID" disabled value="@Model.EmailID">
                </fieldset>
                <fieldset class="field_set">
                    <legend>Rolee</legend>
                    <input type="text" name="Role" value="@Model.Role" disabled>
                </fieldset>
                <fieldset class="field_set">
                    <legend>Age</legend>
                    <input type="number" min="5" max="85" title="Please enter your correct age"  name="Age" value="@Model.Age">
                    @*<input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" maxlength="3" name="Age" value="@Model.Age">*@
                </fieldset>
            </div>

            <div class="input-fields">
                <fieldset class="field_set">
                    <legend>State</legend>
                    <input type="text" name="State" value="@Model.State" maxlength="50" minlength="3">
                </fieldset>
                <fieldset class="field_set">
                    <legend>Pincode</legend>
                    <input type="text" placeholder="Pincode" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)/g, '');" pattern="[1-9][0-9]{5}" title="Please enter valid pincode" minlength="6" maxlength="6"  name="Pincode" value="@Model.Pincode">
                </fieldset>
                <fieldset class="field_set">
                    <legend>City</legend>
                    <input type="text" name="City" value="@Model.City"  maxlength="50" minlength="3">
                </fieldset>
            </div>

            <div class="input-fields">
                <fieldset class="field_set">
                    <legend>Address</legend>
                    <textarea rows="3" cols="35" name="Address" maxlength="100" minlength="3">@Model.Address</textarea>
                </fieldset>
                <fieldset class="field_set">
                    <legend>Description</legend>
                    <textarea rows="3" cols="35" name="Description" maxlength="100" minlength="3"> @Model.Description</textarea>
                </fieldset>
            </div>

            <div class="input-fields">
                <fieldset class="field_set">
                    <legend>LinkedIN</legend>
                    <input type="text" name="LinkedInID" value="@Model.LinkedInID"  maxlength="50" minlength="3">
                </fieldset>
                <fieldset class="field_set">
                    <legend>GitHub</legend>
                    <input type="text" name="GitHubID" value="@Model.GitHubID"  maxlength="50" minlength="3">
                </fieldset>
                <input type="submit" value="Save Changes" class="Submit-btn">
            </div>

        </form>
    </div>
</div>

<script>
    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }

</script>