@model FindYourMentorProject.Models.Application

@{
    ViewBag.Title = "ViewAppliedApplication";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<h2>ViewAppliedApplication</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MenteeMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeBackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeBackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeExpectations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeExpectations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeEmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeEmailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeGithub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeGithub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenteeLinkedin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenteeLinkedin)
        </dd>

    </dl>
</div>

