@model IEnumerable<FindYourMentorProject.Models.Application>

@{
    ViewBag.Title = "ViewApppliedCourse";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@*<h2>ViewApppliedCourse</h2>
    <div>
        @foreach (var item in Model)
        {
            @Html.DisplayNameFor(model => model.MenteeName)<br />
            @Html.DisplayFor(modelItem => item.MenteeName)<br />

            @Html.DisplayNameFor(model => model.MenteeEmailID)<br />
            @Html.DisplayFor(modelItem => item.MenteeEmailID)<br />

            @Html.DisplayNameFor(model => model.MenteeContactNo)<br />
            @Html.DisplayFor(modelItem => item.MenteeContactNo)<br />

            @Html.DisplayNameFor(model => model.MenteeAddress)<br />
            @Html.DisplayFor(modelItem => item.MenteeAddress)<br />

            <button onclick="PopupForm(@item.ApplicationID)">View Your Application</button>
            <button onclick="PopupForm2(@item.AdvertisementID)">View Course Advertisement you have applied for</button>

            <p>Application status - </p>
            @Html.DisplayFor(modelItem => item.ApplicationStatus)<br />
        }
    </div>
    <br />
    <br />*@
<link href="~/Custom/css/ApplicationCard.css" rel="stylesheet" />
<body>
    <div class="appln-card-filter">
        <label for="filters">View Application Status</label>
        <form>
            <div class="grp-radios">
                <input type="radio" name="filters" id="" value="Approve" onchange='this.form.submit();'><span>Approved</span>
                <input type="radio" name="filters" id="" value="Reject" onchange='this.form.submit();'><span>Rejected</span>
                <input type="radio" name="filters" id="" value="Pending" onchange='this.form.submit();'><span>All</span>
            </div>
        </form>
    </div>

    <div class="whole-appln-container">
        @if (@Model.Count() == 0)
        {
            <p id="no-data">No Applications</p>
        }
        else
        {
            foreach (var item in Model)
            {
                <div class="indiv-appln-card">
                    <p><span>Your Name: </span>@item.MenteeName</p>
                    <p><span>Course Name: </span>@item.CourseName</p>
                    <p><span>Mentor Name: </span>@item.MentorName</p>
                    <p><span>Application Status: </span>@item.ApplicationStatus</p>
                    <div class="indiv-appln-btns">
                        <button onclick="PopupForm(@item.ApplicationID)">View Application</button>
                        <button>View Course</button>
                    </div>
                </div>
            }
        }

    </div>
</body>


<script type="text/javascript">
    var screenWidth, screenHeight, dialogWidth, dialogHeight, isDesktop;

    screenWidth = window.screen.width;
    screenHeight = window.screen.height;

    if (screenWidth < 705) {
        /* alert("love");*/
        dialogWidth = screenWidth * .75;
        dialogHeight = screenHeight * .90;
    }
    else if (screenWidth < 553) {
        alert("cute");
        dialogWidth = screenWidth * .73;
        dialogHeight = screenHeight * .90;
    }
    else {
        dialogWidth = 700;
        dialogHeight = 470;
        isDesktop = true;
    }
    function PopupForm(id)
    {
        url = '@Url.Action("ViewAppliedApplication", "Student")/' + id;
        var formDiv =
            $('<div />');
            $.get(url).done(function (response) {
            formDiv.html(response);

            Popup = formDiv.dialog({
            autoOpen: true,
            resizable: true,
            title: 'Your Application',
                height: dialogHeight,
                width: dialogWidth,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
            close: function () {
            Popup.dialog('destroy').remove();
            }

            });
        });
    }

    function PopupForm2(id)
    {
        url = '@Url.Action("ViewCourseApplication", "Student")/' + id;
        var formDiv =
            $('<div />');
            $.get(url).done(function (response) {
            formDiv.html(response);

            Popup = formDiv.dialog({
            autoOpen: true,
            resizable: true,
            title: 'Apply',
            height: 500,
            width: 700,
            close: function () {
            Popup.dialog('destroy').remove();
            }

            });
        });
    }
</script>