@model FindYourMentorProject.Models.AddNotesMentee

@{
    ViewBag.Title = "ViewNotes";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<link href="~/Custom/css/viewNotes.css" rel="stylesheet" />
<body>
        <div class="main-container">
            <div class="main-notes-container">
                <form action="/Student/AddorEditNotesExternal" method="post">
                    @Html.AntiForgeryToken();
                    <div class="main-notes-title">
                        @Html.HiddenFor(model => model.NoteID)

                        <input type="text" name="Title" value="@Model.Title" maxlength="100" minlength="3">
                        <div class="creation-date-container">
                            <h3>Created on:- @Model.CreationDate</h3>
                        </div>
                    </div>

                    <div class="main-notes-description">
                        <textarea name="Description" cols="30" rows="10" maxlength="2000" minlength="3">@Model.Description</textarea>
                        <div class="notes-btn">
                            <a class="homenew-btn" href="/Student/Notes">Go Back</a>
                            <button class="updatenew-btn">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>


