@model FindYourMentorProject.Models.AdvertisementBookmarkViewModel

@{
    ViewBag.Title = "ViewAdvertisement";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<link href="~/Custom/css/StudentIndex.css" rel="stylesheet" />
<body>
    <div id="loader-all" style="display:none;height:500px;">
        <img src="~/uiImages/load1.gif" />
    </div>
    <div class="whole-container">
        <div class="all-filters">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem esse unde maxime commodi ut voluptatum labore odio, ea, earum ex velit porro consequatur nulla nostrum obcaecati magnam deserunt vero veritatis possimus debitis tempora? Deleniti distinctio quo commodi quas! Reiciendis, incidunt. Eius nam quos sed totam ea debitis inventore in autem.</p>
        </div>
        <div class="all-adv">
            <div class="all-cards">

                @foreach (var adv in Model.CourseAdvertisement)
                {
                    <div class="indiv-card">
                        <div class="course-info">
                            <p>@adv.CourseName</p>
                            @{
                                int count = 0;
                            }
                            @foreach (var bookmarked in Model.SavedList)
                            {
                                if (adv.AdvertisementID == bookmarked.AdvertisementID)
                                {
                                    count++;
                                }
                            }

                            @if (count > 0)
                            {
                                <i id="onsave" onclick="Fav(@adv.AdvertisementID)" class="fas fa-bookmark" title="Remove from Bookmarks"></i>
                            }
                            else
                            {
                                <i id="onsave" onclick="Fav(@adv.AdvertisementID)" class="far fa-bookmark" title="Add to Bookmarks"></i>
                            }

                        </div>
                        <div class="All-info">
                            <p class="Description">@adv.Description !!!</p>
                            <p class="Class-name">Will get conducted at @adv.ClassName</p>
                            <p class="mentor-name">By Mentor:&nbsp;&nbsp;&nbsp;<span>@adv.MentorName</span></p>

                            <div class="seats-info">
                                <p>@(adv.TotalSeats- adv.SeatsOccupied) Seats are left !!!</p>
                                <p>Total Seats are <span>@adv.TotalSeats</span></p>
                            </div>

                            <div class="add-info">
                                <p class="Address"><span class="Address-title">Address: </span>@adv.Address</p>
                                <p class="State"><span class="state-title">State: </span>@adv.State</p>
                            </div>
                        </div>
                        <div class="operation-btn">
                            <button onclick="PopupForm2(@adv.AdvertisementID)" id="Apply">Appointment</button>
                            <button onclick="PopupForm(@adv.AdvertisementID)" id="Apply">Apply</button>
                        </div>
                        <div class="card-btn">
                            <button><a href='/Student/ShowFullAdvertisement/@adv.AdvertisementID'>FeedBack & More</a></button>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var Popup, dataTable;
    var screenWidth, screenHeight, dialogWidth, dialogHeight, isDesktop;

    screenWidth = window.screen.width;
    screenHeight = window.screen.height;

    if (screenWidth < 705) {
        /* alert("love");*/
        dialogWidth = screenWidth * .75;
        dialogHeight = screenHeight * .90;
    }
    else if (screenWidth < 553) {
        alert("cute");
        dialogWidth = screenWidth * .73;
        dialogHeight = screenHeight * .90;
    }
    else {
        dialogWidth = 700;
        dialogHeight = 500;
        isDesktop = true;
    }


    var Popup1, Popup2;
    function Fav(id) {
        var url = '@Url.Action("AddToSavedList", "Student")';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id
            },
            success: function (data) {

                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })

            }
        });
    };

    function PopupForm(id) {
        url = '@Url.Action("ApplyCourse", "Student")/' + id;
        var formDiv = $('<div />');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup1 = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'Course Application',
                    height: dialogHeight,
                    width: dialogWidth,
                    show: { effect: 'drop'},
                    modal: true,
                    draggable: true,
                    beforeSend: function () {
                        $("#loader-all").show();
                    },
                    complete: function () {
                        $("#loader-all").hide();
                    },
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    },



                    close: function () {
                        Popup1.dialog('destroy').remove();
                    }

                });
            });
    }

    function PopupForm2(id) {
        url = '@Url.Action("ApplyAppointment", "Student")/' + id;
        var formDiv = $('<div />');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup2 = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'Schedule Appointment',
                    height: dialogHeight,
                    width: dialogWidth,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    },


                    close: function () {
                        Popup2.dialog('destroy').remove();
                    }

                });
            });
    }

    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);

        if ($(form).valid()) {

            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        //dataTable.ajax.reload();
                        Popup1.dialog('close');
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    }

    function SubmitFormAppointment(form) {
        $.validator.unobtrusive.parse(form);

        if ($(form).valid()) {

            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        //dataTable.ajax.reload();
                        Popup2.dialog('close');
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    }
</script>



