@model FindYourMentorProject.Models.AdvertisementBookmarkViewModel

@{
    ViewBag.Title = "ViewAdvertisement";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

<link href="~/Custom/css/StudentIndex.css" rel="stylesheet" />
<body>
    <div class="mainIndex">
        <div class="all-filters">
            <div class="filter-one">
                <div class="filter-heading">
                    <i class="fas fa-filter"></i>
                    <p>Filters</p>
                </div>
                <div class="sub-filter-one">
                    <p>Category</p>
                    <input type="text" name="" id="" placeholder="e.g. IT">
                </div>
                <div class="sub-filter-two">
                    <p>Location</p>
                    <input type="text" name="" id="" placeholder="e.g. Maharashtra">
                </div>
                <div class="sub-filter-three">
                    <p>City</p>
                    <input type="text" name="" id="" placeholder="e.g. Mumbai">
                </div>
                <div class="sub-filter-four">
                    <p>Fee</p>
                    <input type="text" name="" id="" placeholder="e.g. High">
                </div>
                <div class="all-checkboxes">
                    <div class="indiv-checkbox">
                        <span>Online Mode</span><input type="checkbox" name="" id="">
                    </div>
                    <div class="indiv-checkbox">
                        <span>Offline Mode</span><input type="checkbox" name="" id="">
                    </div>
                    <div class="indiv-checkbox">
                        <span>Both Mode</span><input type="checkbox" name="" id="">
                    </div>
                </div>
                <div class="footer-one-box">
                    <p>Clear all</p>
                </div>
            </div>
            <div class="separation">
                <p>OR</p>
            </div>
            <div class="filter-two">
                <p>Search</p>
                <div class="input-search">
                    <input type="text" name="" id="" placeholder="Search By Category/Location/City">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>

        <div class="all-courses">
            @foreach (var adv in Model.CourseAdvertisement)
            {
            <div class="indiv-course">
                <div class="bookmark-logo">
                    @{
                        int count = 0;
                    }
                    @foreach (var bookmarked in Model.SavedList)
                    {
                        if (adv.AdvertisementID == bookmarked.AdvertisementID)
                        {
                            count++;
                        }
                    }

                    @if (count > 0)
                    {
                        <i id="onsave" onclick="Del(@adv.AdvertisementID)" class="fas fa-bookmark" title="Remove from Bookmarks"></i>
                    }
                    else
                    {
                        <i id="onsave" onclick="Fav(@adv.AdvertisementID)" class="far fa-bookmark" title="Add to Bookmarks"></i>
                    }
                </div>
                <div class="name-logo">
                    <p>@adv.ClassName</p>
                    @if (!string.IsNullOrEmpty(adv.logo))
                    {
                        <img src="@Url.Content(adv.logo)" alt="logo" />
                    }
                </div>
                <p id="State">@adv.State</p>
                <p id="course-name">@adv.CourseName</p>
                <div class="course-fields">
                    <div class="indiv-field">
                        <div class="field-header">
                            <p>Duration</p>
                            <i class="far fa-calendar"></i>
                        </div>
                        <p class="value-text">@adv.Duration Months</p>
                    </div>
                    <div class="indiv-field">
                        <div class="field-header">
                            <p>Fees</p>
                            <i class="far fa-credit-card"></i>
                        </div>
                        <p class="value-text">₹ @adv.Fees</p>
                    </div>
                    <div class="indiv-field">
                        <div class="field-header">
                            <p>Starting from</p>
                            <i class="fas fa-hourglass-start"></i>
                        </div>
                        <p class="value-text">@adv.StartDate.ToShortDateString()</p>
                    </div>
                </div>
                <div class="Mentor-name">
                    <p><span>Mentor's :- </span>@adv.MentorName</p>
                </div>
                @{
                    int seatCount = @adv.TotalSeats - @adv.SeatsOccupied;
                }
                @if (seatCount > 1)
                {
                    <div class="seat-info">
                        <p>@seatCount seats are still left !!</p>
                    </div>
                }
                else if (seatCount == 1)
                {
                    <div class="seat-info">
                        <p>@seatCount seat is still left !!</p>
                    </div>
                }
                else
                {
                    <div class="seat-info">
                        <p>All seats are occupied.. Apply next time :)</p>
                    </div>
                }

                <div class="course-btn">
                    <button onclick="PopupForm(@adv.AdvertisementID)">Apply</button>
                    <button onclick="PopupForm2(@adv.AdvertisementID)">Appointment</button>
                </div>
                <div class="detail-all">
                    <p><a href='/Student/ShowFullAdvertisement/@adv.AdvertisementID'>View details</a></p>
                </div>
            </div>
            }
        </div>
</body>

<script type="text/javascript">
    var Popup, dataTable;
    var screenWidth, screenHeight, dialogWidth, dialogHeight, isDesktop;

    screenWidth = window.screen.width;
    screenHeight = window.screen.height;

    if (screenWidth < 705) {
        /* alert("love");*/
        dialogWidth = screenWidth * .75;
        dialogHeight = screenHeight * .90;
    }
    else if (screenWidth < 553) {
        alert("cute");
        dialogWidth = screenWidth * .73;
        dialogHeight = screenHeight * .90;
    }
    else {
        dialogWidth = 700;
        dialogHeight = 500;
        isDesktop = true;
    }


    var Popup1, Popup2;
    function Fav(id) {
        var url = '@Url.Action("AddToSavedList", "Student")';

        $.ajax({
            url: url,
            type: 'POST',
            data: {
                id: id
            },
            success: function (data) {

                    $.notify(data.message, {
                        globalPosition: "top center",
                        className: "success"
                    })
                document.location.reload();

            }
        });
    };

    function PopupForm(id) {
        url = '@Url.Action("ApplyCourse", "Student")/' + id;
        var formDiv = $('<div />');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup1 = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'Course Application',
                    height: dialogHeight,
                    width: dialogWidth,
                    show: { effect: 'drop'},
                    modal: true,
                    draggable: true,
                    beforeSend: function () {
                        $("#loader-all").show();
                    },
                    complete: function () {
                        $("#loader-all").hide();
                    },
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    },



                    close: function () {
                        Popup1.dialog('destroy').remove();
                    }

                });
            });
    }

    function PopupForm2(id) {
        url = '@Url.Action("ApplyAppointment", "Student")/' + id;
        var formDiv = $('<div />');
        $.get(url)
            .done(function (response) {
                formDiv.html(response);

                Popup2 = formDiv.dialog({
                    autoOpen: true,
                    resizable: true,
                    title: 'Schedule Appointment',
                    height: dialogHeight,
                    width: dialogWidth,
                    show: { effect: 'drop', direction: "up" },
                    modal: true,
                    draggable: true,
                    success: function (data) {
                        if (data.success) {

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    },


                    close: function () {
                        Popup2.dialog('destroy').remove();
                    }

                });
            });
    }

    function SubmitForm(form) {
        $.validator.unobtrusive.parse(form);

        if ($(form).valid()) {

            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        //dataTable.ajax.reload();
                        Popup1.dialog('close');
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    }

    function SubmitFormAppointment(form) {
        $.validator.unobtrusive.parse(form);

        if ($(form).valid()) {

            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {

                        //dataTable.ajax.reload();
                        Popup2.dialog('close');
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                }
            });
        }
        return false;
    }

    function Del(id) {

       if (confirm('Are You Sure to Delete this Advertisement from saved list ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveFromSavedList", "Student")/' + id,
                    success: function (data) {
                        if (data.success) {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        document.location.reload();
                    }

                });
            }
        };
</script>



