@model IEnumerable<FindYourMentorProject.Models.SavedList>

@{
    ViewBag.Title = "Saved List";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<link href="~/Custom/css/SavedList.css" rel="stylesheet" />
<body>
    <form method="get" action="/Student/ViewSavedList">
        <div class="saved-list-filter">
            <label>Filter by Name:- </label>
            <div class="grp-radios">
                <input type="radio" name="searchby" id="" value="ClassName">Class
                <input type="radio" name="searchby" id="" value="CourseName">Course
                <input type="radio" name="searchby" id="" value="MentorName">Mentor
            </div>
            <div class="grp-radios-1">
                <input type="radio" name="searchby" id="" value="MentorName">Mentor<br>
                <input type="radio" name="searchby" id="" value="CourseName">Course<br>
                <input type="radio" name="searchby" id="" value="ClassName">Class<br>
            </div>
        </div>
        <div class="container">
            <div class="search-field">
                <input type="text" id="search" class="form-control" maxlength="150" placeholder="Feel Free to Search ..." onchange="filterAdvert()" name="search">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>


    @if (@Model.Count() == 0)
    {
        <div class="no-records-msg">
            <p>No bookmarks added !! Add More</p>
        </div>   
    }
    else
    {
<div class="all-cards">
    @foreach (var item in Model)
    {

        @*<div class="indiv-card">
                <div class="course-info">
                    <p>@item.CourseName</p>
                    <i class="fas fa-bookmark" onclick="Del(@item.AdvertisementID)" id="delete_icon" title="Remove from Bookmark"></i>
                </div>
                <div class="All-info">
                    <p class="Description">@item.Description</p>
                    <p class="Class-name">@item.ClassName</p>
                    <p class="mentor-name">By Mentor:&nbsp;&nbsp;&nbsp;<span>@item.MentorName</span></p>
                    <div class="add-info">
                        <p class="Address"><span class="Address-title">Address: </span>@item.Address</p>
                        <p class="State"><span class="state-title">State: </span>@item.State</p>
                    </div>
                </div>
                <div class="card-btn">
                    <button>FeedBack & More</button>
                </div>
            </div>*@
        <div class="indiv-card">
            <div class="bookmark-logo">
                @{
                    int count = 0;
                }
                @foreach (var bookmarked in Model)
                {
                    if (item.AdvertisementID == bookmarked.AdvertisementID)
                    {
                        count++;
                    }
                }

                @if (count > 0)
                {
                    <i id="onsave" onclick="Del(@item.AdvertisementID)" class="fas fa-bookmark" title="Remove from Bookmarks"></i>
                }
                else
                {
                    <i id="onsave" onclick="Fav(@item.AdvertisementID)" class="far fa-bookmark" title="Add to Bookmarks"></i>
                }
            </div>
            <div class="name-logo">
                <p>@item.ClassName</p>
                @if (!string.IsNullOrEmpty(item.logo))
                {
                    <img src="@Url.Content(item.logo)" alt="logo" />
                }
            </div>
            <p id="State">@item.State</p>
            <p id="course-name">@item.CourseName</p>
            <div class="course-fields">
                <div class="indiv-field">
                    <div class="field-header">
                        <p>Duration</p>
                        <i class="far fa-calendar"></i>
                    </div>
                    <p class="value-text">@item.Duration Months</p>
                </div>
                <div class="indiv-field">
                    <div class="field-header">
                        <p>Fees</p>
                        <i class="far fa-credit-card"></i>
                    </div>
                    <p class="value-text">₹ @item.Fees</p>
                </div>
                <div class="indiv-field">
                    <div class="field-header">
                        <p>Starting from</p>
                        <i class="fas fa-hourglass-start"></i>
                    </div>
                    <p class="value-text">@item.StartDate.ToShortDateString()</p>
                </div>
            </div>
            <div class="Mentor-name">
                <p><span>Mentor's :- </span>@item.MentorName</p>
            </div>
            @{
                int seatCount = @item.TotalSeats - @item.SeatsOccupied;
            }
            @if (seatCount > 1)
            {
                <div class="seat-info">
                    <p>@seatCount seats are still left !!</p>
                </div>
            }
            else if (seatCount == 1)
            {
                <div class="seat-info">
                    <p>@seatCount seat is still left !!</p>
                </div>
            }
            else
            {
                <div class="seat-info">
                    <p>All seats are occupied.. Apply next time :)</p>
                </div>
            }

            <div class="course-btn">
                <button onclick="PopupForm(@item.AdvertisementID)">Apply</button>
                <button onclick="PopupForm2(@item.AdvertisementID)">Appointment</button>
            </div>
            <div class="detail-all">
                <p><a href='/Student/ShowFullAdvertisement/@item.AdvertisementID'>View details</a></p>
            </div>
        </div>

    }
</div>
    }
</body>

    <script type="text/javascript">

    function Del(id) {

       if (confirm('Are You Sure to remove this bookmark ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("RemoveFromSavedList", "Student")/' + id,
                    success: function (data) {
                        if (data.success) {
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                            document.location.reload()
                        }
                    }

                });
            }
        };
    </script>

