@model FindYourMentorProject.Models.Appointment
<link href="~/Custom/css/ViewMenteeApplication.css" rel="stylesheet" />

<div class="Application-Mentee">

    <table>
        <tr class="Application-Mentee-indiv">
            <td>Name: </td>
            <td>@Model.MentorName</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Age: </td>
            <td>@Model.MenteeAge</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>EmailID: </td>
            <td>@Model.MenteeEmailID</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Contact Number: </td>
            <td>@Model.MenteeContactNo</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>GitHub-ID: </td>
            <td>@Model.MenteeGithubID</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>LinkedIn-ID: </td>
            <td>@Model.MenteeLinkedinID</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>State: </td>
            <td>@Model.MenteeState</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Address: </td>
            <td>@Model.MenteeAddress</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Appointment Date: </td>
            <td>@Model.AppointmentDate</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Appointment Time: </td>
            <td>@Model.AppointmentTime</td>
        </tr>

        <tr class="Application-Mentee-indiv">
            <td>Expectations: </td>
            <td>@Model.MenteeWorkingStatus</td>
        </tr>
    </table>
</div>
