<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Custom/css/StudentLayout.css" rel="stylesheet" />
    <!-- font-awesome cdn -->
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" /><link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>
<body>
    <nav>
        <div class="logo-section">
            <a href="/Student"><img src="~/uiImages/search.png" alt="Fym-Logo" id="logo-img"></a>
            <a href="/Student">Find Your Mentor</a>
        </div>
        <a id="open-nav" href="#1" onclick="openNav()" style="font-size: 3rem;cursor: pointer;text-decoration: none;">&#9776;</a>
        <div class="nav-section">
            <a id="abc"></a><ul>
                <li><a>Welcome @HttpContext.Current.User.Identity.Name</a></li>
                <li><a href="/Student"><i class="fas fa-home"></i>Home</a></li>
                <li>
                    <a><i class="fas fa-user-circle"></i>Profile&nbsp;<i class="fas fa-sort-down" id="arrowdown"></i></a>
                    <ul>
                        <li><a href="/Student/PersonalInfo">Personal Information</a></li>
                        <li><a href="/Student/ViewSavedList">Saved List</a></li>
                        <li><a href="/Student/ChangePass">Change Password</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#catalogue"><i class="fas fa-book-reader"></i>Course&nbsp;<i class="fas fa-sort-down" id="arrowdown"></i></a>
                    <ul>
                        <li><a href="/Student/ViewApppliedCourse">Application</a></li>
                        <li><a href="/Student/ViewApppliedAppointment">Appointment</a></li>
                        <li>
                            <a href="">Fees&nbsp;<i class="fas fa-caret-right" id="arrowright"></i></a>
                            <ul>
                                <li><a href="/Student/ViewApprovedApplication">Approved Applications</a></li>
                                <li><a href="/Student/AdmissionStatus">Admission status</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a><i class="fas fa-clipboard"></i>Personal Space&nbsp;<i class="fas fa-sort-down" id="arrowdown"></i></a>
                    <ul>
                        <li><a href="/Student/ViewVideos">Search Video Online</a></li>
                        <li><a href="/Student/Notes">Notes</a></li>
                    </ul>
                </li>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { @id = "logoutForm" }))
                    {
                        <button class="logout-btn">LOGOUT</button>
                    }
                }
            </ul>
        </div>
    </nav>
    <p id="home"></p>

    <div class="sidenav" id="mynav">
        <ul>
            <a href="#1" id="closebtn" onclick="closeNav()" style="font-weight: bold;font-size: 3.7rem;">&times;</a>
            <li><p>Welcome</p><p> @HttpContext.Current.User.Identity.Name</p></li>
            <li><a href="/Student"><i class="fas fa-home"></i>Home</a></li>
            <li>
                <a href="#1" class="sub-btn"><i class="fas fa-user-circle"></i>Profile&nbsp;<i class="fas fa-chevron-right dropdown"></i></a>
                <div class="sub-menu">
                    <a href="/Student/PersonalInfo" class="sub-item">Personal Information</a>
                    <a href="/Student/ViewSavedList" class="sub-item">Saved List</a>
                    <a href="/Student/ChangePassword" class="sub-item">Change Password</a>
                </div>
            </li>
            <li>
                <a href="#1" class="sub-btn"><i class="fas fa-book-reader"></i>Course&nbsp;<i class="fas fa-chevron-right dropdown"></i></a>
                <div class="sub-menu">
                    <a href="" class="sub-item">Application</a>
                    <a href="" class="sub-item">Appointment</a>
                    <a href="#1" class="sub-item" id="Fees-sec">Fees</a>
                </div>
            </li>
            <li>
                <a href="#1" class="sub-btn"><i class="fas fa-clipboard"></i>Personal Space&nbsp;<i class="fas fa-chevron-right dropdown"></i></a>
                <div class="sub-menu">
                    <a href="" class="sub-item">Search Video Online</a>
                    <a href="" class="sub-item">Notes</a>
                </div>
            </li>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "User", FormMethod.Post, new { @id = "logoutForm" }))
                {
                    <button class="auth-btn">LOGOUT</button>
                }
            }
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>

    <footer>
        <div class="footer-up">
            <div class="footer-up-one">
                <p>Find Your Mentor</p>
            </div>
            <div class="footer-up-two">
                <p>This website fills the gap of communication between a mentor and a mentee. It plays a significant role in mentee's life by providing them the best mentor across different places. It will fulfill the mentee's dream by taking a big step towards success.</p>
            </div>
            <div class="footer-up-three">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>

        <div class="footer-down">
            <p class="copyright">Designed by FindYourMentor | © Copyright FindYourMentor All Rights Reserved</p>

            <div class="social-media">
                <div class="top-scroll">
                    <a href="#home">Back to Top</a>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function openNav() {
            document.getElementById("mynav").style.transform = "translateX(0)";
        };
        function closeNav() {
            document.getElementById("mynav").style.transform = "translateX(100%)";
        };
    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <script>
        $('.sub-btn').click(function () {
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        })

        $('#Fees-sec').click(function () {
            $(this).next('.sub-sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        })
    </script>

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" integrity="sha512-o6XqxgrUsKmchwy9G5VRNWSSxTS4Urr4loO6/0hYdpWmFUfHqGzawGxeQGMDqYzxjY9sbktPbNlkIQJWagVZQg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    @RenderSection("Scripts", required: false) ;
    @RenderSection("ScriptsNew", required: false) ;
</body>
</html>